*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    /* background-color: black; */
    color: white;
    display: flex;
    flex-direction: column;
}
/* navigation menu */
#navbar{
    font-family: 'Bree Serif', serif;
    align-items: center;
    display: flex;
    height: 5em;
    position: sticky;
    top:0px;/*for reference to position sticky*/
    
}
#navbar::before{
    content: "";
    background-color: rgb(66, 8, 8);
    position: absolute;
    top:0px;
    left:0px;
    height: 5em;
    width:100%;
    z-index: -1;
    opacity: 0.9;
}
#logo img{
    height: 4em;
    border-radius: 12em;
}

#navbar ul{
    display: flex;
    list-style: none;
    flex-grow: 1;
    justify-content: flex-end;
    
}
a{
    color: aliceblue;
    margin: 2em;
    padding: 1em;
    text-decoration: none;
}
a:hover{
    background-color: rgb(236, 231, 231);
    color: black;
    border-radius: 12em;
    font-style:oblique;

}
a:active{
    background-color: rgb(100, 24, 24);
    color: rgb(236, 231, 231);
}

/* home page */
#home::before{ 
    content: "";
    position: absolute;
    background: url("mbg3.jpg")no-repeat center center/cover;
    /* background: url('https://source.unsplash.com/collection/190727/1600x900') no-repeat center center/cover; */
    height: 620px;
    top:0px;
    left:0px;
    width: 100%;
    z-index: -1;
    opacity:0.9;
}
#home{
    font-family: 'Bree Serif', serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 620px;
}
#home h1{
    font-size: 4em;
    color: white;
    margin-bottom: 20px;
    margin-top: 2px;
}
#home p{
    font-size: 1.5em;
    color: white;
}
.btn{
    color:white;
    
    font-size: 20px;
    border-radius: 10px;
    margin:1.3em;
    padding: 0.8em;
    background-color: rgb(66, 8, 8);

}
.btn:hover{
    background-color:white;
    color: black;
    font-style: italic;
}

/* service center */
#services-container{
    display :flex;
    align-items: center;
    flex-direction: column;
    color: black;
    font-family: 'Bree Serif', serif;
}
#services{
    display: flex;
    justify-content:space-around;
}
.box{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    border: 2px solid black;
    border-radius: 90px;
    margin:2em;
    padding: 1em;
    height: 600px;
    width:  25%;
    background-color:rgb(236, 231, 231);
} 
.box>img{
    display: flex;
    border-radius: 90px;
    margin-top: 20px;
}
.cards{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    font-size: 40px;
}
.center{
    margin: 10px;
    padding: 12px;
    font-size: 17px;
    text-align: center;
    
}
.service_start{
    font-size: 60px;
    font-style: oblique;
}


/* menu_section */
#menu_start{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: 'Bree Serif', serif;


}
#mi{
    margin-top: 30px;
    height :590px;
    background: url("menu.jpg")no-repeat center center/cover;
    border-radius: 40px;
    overflow: hidden;

    width: 100vw;
}
#menu{
    
    font-size: 50px;
    font-style: italic;
}

input{
    width: 500px;
    height: 2em;
    
}
textarea{
    width: 500px;
}
.form-group{
    margin-top: 10px;
    margin-left: 100px;
    font-size: 2em;
    font-family: 'Bree Serif', serif;

}
#contact-box{
    display: flex;
    flex-direction: column;
    background: url("bg5.jpg")no-repeat center center/cover;
    width:100vw;
    height: 620px;
    border-radius: 40px;


}

#contact>h1{
    display: flex;
    justify-content: center;
    font-size: 60px;
    font-family: 'Bree Serif', serif;
    margin-top: 20px;
    margin-bottom: 20px;
    font-style: italic;
}
#sub{
    background-color: rgb(66, 8, 8);
    color: aliceblue;
    font-size: 20px;

}
#sub:hover{
    background-color:white;
    color: black;
    font-style: italic;

}






